* {
    box-sizing: border-box;
}

.jumbotron {
    margin: 25px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Georgia';
    background-color: #F0F8ff;
    border-style: solid;
    border-width: 1px;
    border-color: #00008B;
}

.jumbotron h1 {
    font-size: 36px;
    font-size: 6vw;
}
.jumbotron h2 {
    font-size: 28px;
    font-size: 3vw;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Georgia';
}

#tangoTable{
    display: none;
    margin: 15px;
    padding: 5px;
}

#geoBtn{
    display: none;
    margin: 5px;
}